.rectangle-icon {
  height: 115px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.about2,
.vector-container {
  margin: 0 !important;
  position: absolute;
  display: flex;
}
.about2 {
  text-decoration: none;
  height: 39px;
  width: 182px;
  right: 247px;
  bottom: 34px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 2;
}
.vector-container {
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
}
.screenshot-2024-09-03-at-11484 {
  height: 107px;
  width: 209px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.work2 {
  text-decoration: none;
  height: 39px;
  width: 182px;
  position: relative;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child1 {
  height: 36px;
  width: 100px;
  position: relative;
  filter: blur(100px);
  background-color: var(--color-black);
  z-index: 3;
  margin-left: -141px;
}
.work-parent {
  width: 182px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.latitude2,
.propulsion2 {
  text-decoration: none;
  height: 39px;
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.latitude2 {
  cursor: pointer;
}
.propulsion2 {
  margin-left: -71px;
}
.frame-parent4,
.latitude-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.latitude-group {
  flex: 1;
}
.frame-parent4 {
  align-self: stretch;
  gap: var(--gap-30xl);
}
.frame-header,
.frame-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper {
  width: 524px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xl);
}
.frame-header {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-mid) var(--padding-5xs) var(--padding-xl);
  position: sticky;
  top: 0;
  z-index: 99;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
.hair-products {
  margin: 0;
  width: 425px;
  position: relative;
  font-size: inherit;
  letter-spacing: 4px;
  line-height: 22px;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-parent3,
.hair-products-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hair-products-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent3 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 68px;
}
.beaut-home-product-catalogue-p9 {
  height: 399px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.beaut-home-product-catalogue-p-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl) 0 var(--padding-24xl);
}
.helps-in-hair,
.onion-shampoo {
  position: relative;
  letter-spacing: 4px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.onion-shampoo {
  width: 213px;
  line-height: 22px;
  justify-content: center;
}
.helps-in-hair {
  height: 50px;
  flex: 1;
  line-height: 30px;
}
.helps-in-hair-growth-wrapper,
.onion-shampoo-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.helps-in-hair-growth-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xs);
  text-align: left;
}
.onion-shampoo-parent {
  flex-direction: column;
  gap: var(--gap-19xl);
}
.div9 {
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.frame-wrapper2,
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  padding: 0 0 0 var(--padding-2xs);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--wwwbobbibrownin-thunder-65);
  font-family: var(--font-helvetica);
}
.frame-wrapper2 {
  padding: 0 0 var(--padding-24xl) var(--padding-11xs);
}
.utility-icons-child {
  height: 70px;
  width: 217px;
  position: relative;
  background-color: var(--color-black);
  display: none;
}
.buy-now9 {
  width: 97px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 20px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.frame-parent7,
.utility-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.utility-icons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl) var(--padding-41xl) var(--padding-5xl);
  background-color: var(--color-black);
  flex-direction: row;
  white-space: nowrap;
}
.utility-icons2:hover,
.utility-icons:hover {
  background-color: var(--color-darkslategray);
}
.frame-parent7 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-9xl) var(--padding-58xl) 0;
  gap: var(--gap-3xs);
}
.beaut-home-product-catalogue-p10 {
  height: 412.1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
}
.beaut-home-product-catalogue-p-frame {
  width: 188px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl);
  box-sizing: border-box;
}
.onion-hair-serum {
  align-self: stretch;
  position: relative;
  letter-spacing: 4px;
  line-height: 22px;
  font-weight: 300;
}
.helps-in-hair-growth-container {
  flex-direction: row;
  padding: 0 var(--padding-mini) 0 var(--padding-2xs);
  text-align: left;
}
.container,
.frame-parent10,
.frame-parent9,
.helps-in-hair-growth-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: row;
  padding: 0 var(--padding-mini) 0 var(--padding-2xs);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--wwwbobbibrownin-thunder-65);
  font-family: var(--font-helvetica);
}
.frame-parent10,
.frame-parent9 {
  flex-direction: column;
}
.frame-parent10 {
  gap: var(--gap-3xs);
  flex-shrink: 0;
}
.frame-parent9 {
  flex: 1;
  gap: 22.9px;
}
.frame-wrapper3 {
  align-self: stretch;
  height: 575px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.frame-parent6,
.frame-wrapper1,
.frame-wrapper3,
.utility-icons-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.utility-icons-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-smi);
}
.frame-parent6,
.frame-wrapper1 {
  flex-direction: column;
}
.frame-parent6 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-34xl);
}
.frame-wrapper1 {
  height: 1507px;
  width: 254px;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.beaut-home-product-catalogue-p11 {
  height: 385.6px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
}
.beaut-home-product-catalogue-p-wrapper1 {
  width: 218px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl);
  box-sizing: border-box;
}
.coffee-bean-shampoo,
.strengthens-hair-prevents {
  align-self: stretch;
  position: relative;
  letter-spacing: 4px;
  line-height: 30px;
  font-weight: 300;
}
.strengthens-hair-prevents {
  z-index: 1;
}
.coffee-bean-shampoo-conditio-parent,
.frame,
.utility-icons2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.coffee-bean-shampoo-conditio-parent {
  align-self: stretch;
  flex-direction: column;
}
.frame,
.utility-icons2 {
  flex-direction: row;
}
.frame {
  width: 281px;
  padding: 0 var(--padding-15xl) var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--wwwbobbibrownin-thunder-65);
  font-family: var(--font-helvetica);
}
.utility-icons2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-41xl);
  background-color: var(--color-black);
  white-space: nowrap;
}
.frame-parent12 {
  align-self: stretch;
  gap: 33px;
  flex-shrink: 0;
}
.frame-parent11,
.frame-parent12,
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  flex: 1;
  gap: 48.4px;
}
.frame-wrapper4 {
  height: 2338px;
  width: 314px;
  padding: 1608px 0 0;
  box-sizing: border-box;
  text-align: left;
}
.beaut-home-product-catalogue-p12 {
  height: 405.9px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.beaut-home-product-catalogue-p-wrapper2 {
  width: 168px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px;
  box-sizing: border-box;
}
.div12,
.helps-to-reduce {
  align-self: stretch;
  position: relative;
}
.helps-to-reduce {
  height: 50px;
  letter-spacing: 4px;
  line-height: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div12 {
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-family: var(--font-helvetica);
  color: var(--wwwbobbibrownin-thunder-65);
  white-space: nowrap;
}
.frame-wrapper6,
.helps-to-reduce-hair-breakage-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.helps-to-reduce-hair-breakage-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-wrapper6 {
  width: 235px;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  text-align: left;
}
.onion-conditioner-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-19xl);
}
.frame-parent14,
.frame-wrapper5,
.onion-conditioner-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 42.9px var(--padding-11xs);
}
.frame-parent14 {
  width: 272px;
  height: 756px;
  flex-direction: column;
  padding: 0 var(--padding-xl) var(--padding-58xl) 0;
  box-sizing: border-box;
  gap: 10.1px;
}
.beaut-home-product-catalogue-p13 {
  height: 412px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.beaut-home-product-catalogue-p-wrapper3,
.frame-parent16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.beaut-home-product-catalogue-p-wrapper3 {
  width: 137px;
  height: 412px;
  flex-direction: row;
  padding: 0 5px;
  box-sizing: border-box;
}
.frame-parent16 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mid);
}
.helps-in-hair-growth-parent {
  width: 233px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-parent15,
.frame-wrapper7,
.helps-in-hair-growth-parent,
.utility-icons-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  flex: 1;
  flex-direction: column;
  gap: 36px;
  max-width: 100%;
}
.frame-wrapper7,
.utility-icons-container {
  flex-direction: row;
}
.frame-wrapper7 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-smi);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
}
.utility-icons-container {
  padding: 0 var(--padding-11xs);
}
.desktop-2-inner,
.frame-parent13,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent13 {
  width: 480px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-34xl);
}
.desktop-2-inner,
.frame-parent5 {
  flex-direction: row;
}
.frame-parent5 {
  justify-content: flex-start;
  gap: 63px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-sf-pro);
}
.desktop-2-inner {
  justify-content: flex-end;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.frame-child2 {
  width: 1440px;
  height: 418px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.screenshot-2024-09-03-at-11485 {
  height: 131px;
  width: 278px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-09-03-at-1148-wrapper {
  width: 454px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.icon-instagram2 {
  width: 33px;
  height: 33.3px;
  position: relative;
  z-index: 1;
}
.privacy-policy2 {
  width: 454px;
  position: relative;
  font-weight: 300;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.icon-instagram-parent,
.privacy-policy-terms-of-use-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.icon-instagram-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-29xl-7);
}
.follow-us2 {
  width: 454px;
  position: absolute;
  margin: 0 !important;
  top: 84px;
  right: -79px;
  display: flex;
  text-align: left;
  align-items: center;
  z-index: 1;
}
.desktop-2,
.rectangle-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: flex-start;
  padding: 0 var(--padding-323xl) var(--padding-96xl) var(--padding-518xl);
  box-sizing: border-box;
  gap: var(--gap-42xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
.desktop-2 {
  width: 100%;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  align-items: flex-end;
  gap: 139px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-sf-pro);
}
@media screen and (max-width: 1200px) {
  .frame-wrapper4 {
    padding-top: 679px;
    box-sizing: border-box;
  }
  .frame-parent5 {
    gap: var(--gap-12xl);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .hair-products {
    font-size: var(--font-size-21xl);
    line-height: 18px;
  }
}
@media screen and (max-width: 725px) {
  .hair-products {
    font-size: var(--font-size-11xl);
    line-height: 13px;
  }
  .frame-parent3 {
    gap: var(--gap-mid);
  }
  .onion-shampoo {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .helps-in-hair,
  .onion-hair-serum {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .onion-hair-serum {
    line-height: 18px;
  }
  .frame-parent6 {
    gap: var(--gap-7xl);
  }
  .coffee-bean-shampoo,
  .strengthens-hair-prevents {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .frame-parent12 {
    gap: var(--gap-base);
  }
  .frame-parent11 {
    gap: var(--gap-5xl);
  }
  .helps-to-reduce {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .onion-conditioner-parent {
    gap: var(--gap-lgi);
  }
  .follow-us2,
  .privacy-policy2 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent {
    gap: var(--gap-mini);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-56xl);
    box-sizing: border-box;
  }
  .desktop-2 {
    gap: 35px;
  }
}
@media screen and (max-width: 450px) {
  .latitude-group {
    display: none;
  }
  .frame-parent4 {
    gap: var(--gap-5xl);
  }
  .frame-parent3 {
    gap: var(--gap-15xl);
  }
  .frame-parent7 {
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .frame-wrapper4 {
    padding-top: 441px;
    box-sizing: border-box;
  }
  .frame-parent14 {
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .frame-parent15 {
    gap: var(--gap-lg);
  }
  .frame-parent13 {
    gap: var(--gap-7xl);
  }
  .frame-parent5 {
    gap: var(--gap-base);
  }
  .icon-instagram-parent {
    gap: var(--gap-5xl);
  }
  .rectangle-parent {
    gap: var(--gap-11xl);
    padding-left: var(--padding-249xl);
    padding-right: var(--padding-152xl);
    box-sizing: border-box;
  }
  .desktop-2 {
    gap: var(--gap-50xl);
  }
}
