body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-helvetica: Helvetica;
  --font-sf-pro: "SF Pro";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-gainsboro: #ece6e6;
  --color-white: #fff;
  --color-gray-100: #1e1e1e;
  --wwwbobbibrownin-thunder-65: rgba(34, 31, 32, 0.65);
  --color-black: #000;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-25xl: 44px;
  --gap-70xl: 89px;
  --gap-42xl: 61px;
  --gap-mini: 15px;
  --gap-11xl: 30px;
  --gap-29xl-7: 48.7px;
  --gap-5xl: 24px;
  --gap-15xl: 34px;
  --gap-50xl: 69px;
  --gap-xl: 20px;
  --gap-10xl: 29px;
  --gap-26xl: 45px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-3xs: 10px;
  --gap-lg: 18px;
  --gap-12xl: 31px;
  --gap-mid: 17px;
  --gap-base: 16px;
  --gap-4xl: 23px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-30xl: 49px;

  /* Paddings */
  --padding-323xl: 342px;
  --padding-96xl: 115px;
  --padding-518xl: 537px;
  --padding-xl: 20px;
  --padding-56xl: 75px;
  --padding-249xl: 268px;
  --padding-152xl: 171px;
  --padding-lgi: 19px;
  --padding-2xl: 21px;
  --padding-6xl: 25px;
  --padding-41xl: 60px;
  --padding-smi: 13px;
  --padding-7xs: 6px;
  --padding-7xl: 26px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-13xl: 32px;
  --padding-32xl: 51px;
  --padding-21xl: 40px;
  --padding-6xs: 7px;
  --padding-4xl: 23px;
  --padding-mid: 17px;
  --padding-15xl: 34px;
  --padding-11xs: 2px;
  --padding-24xl: 43px;
  --padding-3xs: 10px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-9xl: 28px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-mini: 15px;
}
